<style>
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }

  .card > .card-image > img {
    width: 100%;
    height: 350px !important;
  }

  .no-overflow {
    overflow: hidden;
  }

  .check {
    vertical-align: bottom;
    line-height: 1.5rem;
  }
</style>
<script src="javascripts/servicelist.js"></script>
<div class="row flex-row">

    {{#each servicesOffered}}
    <div class="col s12 m6 l3" >
      <a class="modal-trigger" href="#{{this.code}}">
      <div class="card no-overflow hoverable">
        <div class="card-image">
          <img src="{{this.imageLink}}">
          <span class="card-title package-title">{{this.title}}, ({{this.cost}})</span>
        </div>
        {{!-- <div class="card-content">
          <p>{{this.description}}</p>
        </div> --}}
      </div>
      </a>
    </div>
    {{/each}}


  <!-- Details Modal -->
  {{#each servicesOffered as |value key|}}
  <div id="{{value.code}}" class="modal">
    <div class="modal-content">
      <h4>{{value.title}}, ({{value.cost}})</h4>
      <div>
        
        <ul class="collection">
          {{#each value.services as |childValue childKey|}}
          <li class="collection-item">
            <i class="check material-icons">check_box</i>{{childValue}}
          </li>
          {{/each}}
        </ul>

        {{#if value.otherInstructions}}
        <p>* {{value.otherInstructions}}</p>
        {{/if}}

      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      <a href="/services?selected={{value.code}}" class="modal-close waves-effect waves-green btn-flat">Book Service</a>
    </div>
  </div>
  {{/each}}