{{> navigation}}
<div class="row">
    <div class="col s12">
        <h3 class="center-align">
            Location
        </h3>
        <h4 class="center-align">
            {{address.name}}
        </h4>
        {{#each address.addressLines}}
        <p class="center-align">
            {{this}}
        </p>
        {{/each}}
        <p class="center-align">
            Phone: <a href="tel:{{address.phone}}">{{address.phone}}</a>
        </p>
        <p class="center-align">
            Email: <a href="mailto:{{address.email}}">{{address.email}}</a>
        </p>
    </div>
</div>
{{#if address.mapLocation}}
<div class="row">
    <div class="col s12">
        <h2 class="center-align">
            Locate us on Google Maps
        </h2>
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas"
                    src="https://maps.google.com/maps?q={{address.mapLocation}}&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
            </div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    display: flex;
                    justify-content: center;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 600px;
                }
            </style>
        </div>
    </div>
</div>
{{/if}}
{{> footer}}